:root {
  --md-primary-bg-color: white;
  --md-primary-fg-color: black;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.md-header-nav__topic {
  font-weight: bold;
}

/* NAV */

.md-sidebar--primary .md-nav__title {
  display: none;
}

.md-nav__link--active {
  font-weight: bold;
}


/* BODY */

.md-typeset a {
  text-decoration: underline;
  color: #337ab7;
}

.md-typeset code {
  color: rgb(205, 0, 103);
}

.md-typeset pre > code {
  color: black;
}

.md-typeset h2 {
  border-bottom: 1px solid #ddd;
  margin-top: 2.5em;
  margin-bottom: 1em;
}

.md-typeset h3 {
  font-weight: 600;
  font-size: 0.95rem;
}

.md-typeset h4 {
  color: #7c7c7c;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 900;
  margin-top: 1.2rem;
}

.md-nav--primary > .md-nav__list > .md-nav__item:last-of-type {
  margin-top: 50px;
  opacity: .6;
}