:root {
  --md-primary-bg-color: white;
  --md-primary-fg-color: black;
}

body {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

.md-header-nav__topic {
  font-weight: bold;
}

/* NAV */

.md-nav__title {
  display: none;
}

.md-nav__link--active {
  font-weight: bold;
}


/* BODY */

.md-typeset a {
  text-decoration: underline;
  color: #337ab7;
}

.md-typeset code {
  color: rgb(205, 0, 103);
}

.md-typeset pre > code {
  color: black;
}

.md-typeset h2 {
  border-bottom: 1px solid #ddd;
  margin-top: 2.5em;
  margin-bottom: 1em;
}

.md-typeset h3 {
  font-weight: 500;
  font-size: 0.95rem;
}